.buttonLogin{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-border-radius: 25px;
}

.buttonAccount{
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-background-color: rgba(0,0,0,0);
}

.myLayout{
    -fx-background-color: rgba(0,0,0,0);
}

.myLabelInAccountScene{
    -fx-text-fill: white;
    -fx-alignment: left;
    -fx-font-size: 36;
    -fx-font-weight: regular;
}



.myBackGround{
    -fx-background-color: rgba(0,0,0,0);
}